h1 {
    color: rgb(189, 22, 22);
}

/* Below is the code for my first CSS vendor spercific feature: Cursor "not allowed" */
h1:hover {
    cursor: not-allowed;
  }

/* Below is the code for my first CSS vendor spercific feature: Cursor "not allowed" */
h1 {
  text-shadow: #555 4px 4px 4px; /* color, h-offset, v-offset, blur */
}


@media only screen and (orientation: landscape){
  body{background: black;
}

@media only screen and (orientation: landscape){
  body{color: white;
}
